.button{
   width: 280px;
   height: 64px;
   border-radius: 32px;
   font-family: 'metropolis-semi_bold';
   font-size: 1.25rem;
   box-shadow: 3px 4px 0px 0px #E6E6E6;
   &:hover{
      color: $white;

   }
}
