body{
   background-color: $white !important;
}

hr{
   border: 0 none;
   border-bottom: solid 1px transparent;
   margin: 50px 0px;
}

header{
   width: 100%;
}

section{
   padding: 50px 0;
   min-height: 200px;
   @include breakpoint(medium) {
   }
   &#top{
      height: 300px;
      background-color: $primary-color;
      background-image: url("../img/header_bg.png");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 1;
      @include css-transition($short-transition);
      @include breakpoint(medium) {
         height: 500px;
         &.loaded{
            height: 350px;
         }
      }
   }
   &#about{
      background-color: transparent;
      @include breakpoint(large) {
         padding-bottom: 120px;
      }
   }
   &#services{
      @include breakpoint(medium) {
         .service__spacer{
            height: 60px;
            width: 100%;
            background-color: $white;
         }
      }
      padding: 0px;
      background-color: #F4F4F4;
      .service{
         padding: 50px 0;
         background-color: #F9F9F9;
         text-align: center;
         &:nth-child(2){
            background-color: #F4F4F4;
         }
         @include breakpoint(medium) {
            padding: 120px 0;
         }
      }
      .service__icon{
         width: 175px;
         height: 175px;
         margin: 0 auto;
         background-position: center;
         background-repeat: no-repeat;
         &.service-1{
            background-image: url(../img/ico-pharma.svg);
         }
         &.service-2{
            background-image: url(../img/ico-automation.svg);
         }
         &.service-3{
            background-image: url(../img/ico-consulting.svg);
         }
      }
      h2{

      }
      p{
         padding: 0 65px;
      }
   }
   &#customers{
      background-color: $white;
      @include breakpoint(medium) {
         padding: 140px 0 0 0;
      }
      .client__logo{
         margin-bottom: 24px;
         margin-right: -24px;
         @include breakpoint(xlarge) {
            margin-right: 0px;
         }
      }
   }
   &#work-with-us{
      @include breakpoint(medium) {
         padding: 140px 0 70px 0;
      }
   }
}
footer {
   padding: 60px 0;
   background-color: $primary-color;
   h3 {
      margin-bottom: 0.15rem;
   }
   p {
      color: $white;
   }
   a {
      color: $white;
      font-family: 'metropolis-light';
      &:hover, &:focus{
         color: $white;
      }
   }
   hr {
      border-bottom: solid 2px $secondary-color;
      margin: 50px 0 20px 0;
   }
   span {
      color: $white;
      font-size: 0.8rem;
   }
}
