@font-face {
    font-family: 'metropolis-bold';
    src: url('../font/metropolis-bold-webfont.woff2') format('woff2'),
         url('../font/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolis-semi_bold';
    src: url('../font/metropolis-semibold-webfont.woff2') format('woff2'),
         url('../font/metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolis-regular';
    src: url('../font/metropolis-regular-webfont.woff2') format('woff2'),
         url('../font/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metropolis-light';
    src: url('../font/metropolis-light-webfont.woff2') format('woff2'),
         url('../font/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
   font-family: 'metropolis-bold';
   color: #CCC9CE;
   font-size: 5.375rem;
   line-height: 1.221;
   margin-top: -160px;
   margin-bottom: 80px;
   opacity: 1 !important;
   @include breakpoint(medium) {
   }
   @include breakpoint(large) {
   }
}

h2{
   font-family: 'metropolis-semi_bold';
   color: #36235C;
   font-size: 1.5rem;
   line-height: 2.3;
   padding-bottom: 18px;
}

p{
   font-family: 'metropolis-light';
   color: #403F43;
   font-size: 1.125rem;
   line-height: 1.444;
   &.intro{
      font-family: 'metropolis-regular';
      font-size: 2.1875rem;
      line-height: 1.286;
      margin-bottom: 80px;
   }
}
ul li a{
   font-family: 'metropolis-bold';
   color: $white;
   font-size: 1.125rem;
   line-height: 1.222;
   @include css-transition($short-transition);
   &:hover{
      color: darken($white, 15%)
   }
}
