<div class="large reveal reveal__modal" id="service-1" aria-labelledby="PharmaBIToolsHeader" data-reveal data-close-on-click="true">
   <h5 id="PharmaBIToolsHeader">Pharma BI tools</h5>
   <h4>Easy, fast to implement,<br />business approved</h4>
   <p>
      Smart BI Tools have never been so accessible and performant. They are now also cost effective.<br /><br />
      Our BI Dashboards and Cockpit use the latest technology to combine multiple data sources and provide full transparency on performance and potential:
   </p>
   <div class="reveal__modal__ullirow">
      <ul>
         <li class="modal__li">IMS Data Viewer National and RIS</li>
         <li class="modal__li">IMS+CRM Combined Cockpits</li>
         <li class="modal__li">Power BI Platform design</li>
      </ul>
   </div>
   <div class="reveal__modal__ullirow">
      <ul>
         <li class="modal__li">Veeva CRM Cockpits</li>
         <li class="modal__li">Direct Sales+Wholesalers+CRM Dashboards</li>
         <li class="modal__li">Custom Analytic Dashboard</li>
      </ul>
   </div>
   <p class="reveal__modal__contact"><a href="mailto:info@aplecatools.com ">Contact us</a> to learn more</p>
   <button class="close-button close__reveal__modal" data-close aria-label="Close Accessible Modal" type="button">
      <span aria-hidden="true">&#10005;</span>
   </button>
</div>
