<div class="large reveal reveal__modal" id="service-3" aria-labelledby="ConsultingHeader" data-reveal data-close-on-click="true">
   <h5 id="ConsultingHeader">Consulting</h5>
   <h4>We share our pharma expertise with you</h4>
   <p>
      Pharma Companies need to be agile more agile than ever. Our expertise with Pharma Operations, Post-Merger/Integration projects and Management Consulting can help you improve your organization.
   </p>
   <div class="reveal__modal__ullirow">
      <ul>
         <li class="modal__li">Change Management</li>
         <li class="modal__li">Transformation &amp; Development </li>
      </ul>
   </div>
   <div class="reveal__modal__ullirow">
      <ul>
         <li class="modal__li">Post Merger, Integration &amp; Sizing</li>
         <li class="modal__li">Senior Management Consulting</li>
      </ul>
   </div>
   <p class="reveal__modal__contact"><a href="mailto:info@aplecatools.com ">Contact us</a> to learn more</p>
   <button class="close-button close__reveal__modal" data-close aria-label="Close Accessible Modal" type="button">
      <span aria-hidden="true">&#10005;</span>
   </button>
</div>
